 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-g" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>REJA</title> 
<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj 70gZWKYbI706tWS"
crossorigin="anonymous"
 />  
 </head>
 <body style="background-color:white">
    <div class="container">
        <h1 style="background-color:darkkhaki;">PLANS AND GOALS</h1>
        <div class="jumbotron p-3 shadow-sm">
            <form id="create-form" action="/create-item" method="POST">
                <div class="d-flex align-items: center">
                    <input 
                    id="create-field"
                    name="item"
                    autofocus
                    autocomplete="off"
                    class="form-control mr-3"
                    type="text"
                    style="flex: 1"
                    />
                    <button class="btn btn-primary";
                     style=" --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                     ADD NEW PURCHASE
                  </button>
                </div>
            </form>
        </div>
         
 </body>
 </html>